@font-face {
  font-family: 'Sono';
  src: url('./fonts/Sono.ttf') format('truetype'); /* Sử dụng 'truetype' cho định dạng .ttf */
  font-weight: normal;  
  font-style: normal;   
}

* {
  font-family: 'Sono', 'Roboto', sans-serif; /* Sử dụng font chữ Sono làm font chính */
}

.app {
  width: 400px;
  margin: 0 auto;
  text-align: center; 
  background-color: rgb(225, 225, 225);
  border-radius: 20px;
  box-shadow: 2px 2px 10px rgb(153, 153, 153);
}

h1 {
  padding-top: 10px;
  color: #007bff; /* Màu chữ cho tiêu đề */
}
