.todo-item {
  padding: 10px;
  list-style: none;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  margin-bottom: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  user-select: none;
}

.todo-item.completed div {
  text-decoration: line-through;
  color: #999;
}

.delete-btn {
  padding: 4px 8px 4px 8px;
  background-color: #a74a28;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;  
}

.delete-btn:hover {
  background-color: #a72c28;
}

.edit-btn {
  background: rgb(218, 171, 115);
  border: 1px solid white;
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-right: .5rem;
  border-radius: 4px;
  cursor: pointer;
}
