@font-face {
    font-family: 'PlaywriteAustraliaQLD'; 
    src: url('../assets/fonts/PlaywriteAustraliaQLD.ttf') format('truetype'); 
}


* {
    transition: all .8s ease-in-out; 
}

body {
    padding: 0;
    margin: 0   ;
}

.container {
    height: 100vh;
    width: 100vw;
    background-color: #1f1f1f;
}

.gradient-text {
    font-size: 3rem;
    background: black;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    background-clip: text; 
    color: transparent; 
}