
:root {
    --font-main: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

* {
    box-sizing: border-box;
}

.center-div {
    display: flex;
    justify-content: center;
}

body {
    font-family: var(--font-main);
    display: flex;
    justify-content: center;
}

.container {
    width: 25rem;
    background-color: black;
    color: white;
    border-radius: 20px;
}

.form {
    padding: 1rem 1rem 1rem 1rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#search-text {
    border-radius: 10px;
    height: 1.5rem;
    background-color: gray;
    color: white;
    outline: none;
    padding-left: .5rem;
    font-family: var(--font-main)
}

#search-text::placeholder {
    color: white;
}

button {
    width: 2.5rem;
    font-family: var(--font-main);
    height: 1.5rem;
    background-color: white;
    color: #000;
    border-radius: 10px;
    border-style: groove;
    cursor: pointer;
}

.weather-icon {
    padding: 0 2rem 0 2rem;
}

.state {
    background-color: rgb(47, 47, 47);
    padding: 0 1rem 0 1rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 20px;
    margin: auto;
}

.city {
    font-size: 2rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    text-align: center;
}

.temperature {
    font-size: 1.5rem;
}

.min-max-temp {
    width: 55%;
    justify-content: space-around;
    margin: auto;
}

.info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: 1rem;
}

.card {
    display: flex;
    align-items: center;
    height: 5rem;
    background-color: rgb(43, 43, 43);
    border-radius: 1rem;
}

.card>p {
    display: flex;
    flex-direction: column;
    >span {
        font-size: 1.5rem;
    }
}

img {
    filter: drop-shadow(5px 5px 10px white);
}

.card-ico {
    display: flex;
    justify-content: center;
    width: 3rem;
    font-size: 2rem;
}
